<%= render 'shared/errors', obj: @recipe %>
<div class="row">
  <div class="col-md-12 offset-md-2">
    <%= form_for @recipe, :html => {class: "form-horizontal", role: "form"} do |recipe| %>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= recipe.label :name %>
      </div>
      <div class="col-md-8">
        <%= recipe.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: "true" %>
      </div>
    <br />  
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= recipe.label :description %>
      </div>
      <div class="col-md-8">
        <%= recipe.text_area :description, rows: 10, class: "form-control", placeholder: "Description of recipe", autofocus: "true" %>
      </div>      
    </div>
  </div>
  <br />
    <div class="form-group">
      <div class="row">
        <div class="col-md-8 md-offset-2 tag-checkbox">
          <%= recipe.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline input_checkbox tag-checkbox-individual") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
    </div>  
  <div class="form-group">
    <div class="col-md-6 md-offset-6">
      <%= recipe.submit class: "btn btn-primary btn-lg" %>
    </div>
  </div>
  <div class="col-md-4 md-offset-4 new-recipe-return">
     <%= link_to "Cancel and return to recipe listing", recipes_path %>
  </div>  
</div>
<% end %>