<h1 align="center"><%= "#{@user.name}'s profile" %></h1>
<hr />

<div class="row">
  <div class="col-md-4 offset-md-6 profile-image">
    <%= gravatar_for @user, size:150 %>
  </div>
</div>
<% if @user.recipes.count != 0 %>
  <h4 align="center"><%= @user.name %>'s recipes</h4>
  <div class="pagination-div">
    <%= will_paginate(@user_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
  <%= render 'recipes/recipe', obj: @user_recipes %>
  <div class="pagination-div">
    <%= will_paginate(@user_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div>
  <% else %>
  <h4 align="center">No recipes created</h4>
<% end %>
