<%= render 'shared/errors', obj: @tag %>
<div class="row">
  <div class="col-md-12 offset-md-2">
    <%= form_for @tag, :html => {class: "form-horizontal", role: "form"} do |recipe| %>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= recipe.label :name %>
      </div>
      <div class="col-md-8">
        <%= recipe.text_field :name, class: "form-control", placeholder: "Name of category", autofocus: "true" %>
      </div>
    <br />  
  </div>
  <br />
  <div class="form-group">
    <div class="col-md-6 md-offset-6">
      <%= recipe.submit(@tag.new_record? ? "Add category" : "Update category", class: "btn btn-primary btn-lg") %>
    </div>
  </div>
  <div class="col-md-4 md-offset-4 new-recipe-return">
     <%= link_to "Cancel and return to recipe listing", recipes_path %>
  </div>  
</div>
<% end %>